name: Verify PR Unit Tests

# هذا الجزء يحدد متى يعمل الـ Action
# هنا سيعمل عند فتح أي Pull Request أو تعديله
on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  unit-testing:
    name: Flutter Unit Tests
    runs-on: ubuntu-latest

    steps:
      
      - name: Checkout code
        uses: actions/checkout@v4

       
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

       
      - name: Install dependencies
        run: flutter pub get

       
      - name: Analyze code
        run: flutter analyze

      
      - name: Run unit tests
        run: flutter test